.cart-container {
	background-color: rgb(241, 241, 241);
	margin: 20px;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 10px;
	padding: 10px;
	max-width: fit-content;
}

.cart-title {
	font-size: 24px;
	margin-bottom: 10px;
	color: rgb(255, 0, 0);
    display: flex;
	justify-content: center;
}

.cart-list {
	list-style-type: none;
}

.cart-total {
	font-size: 20px;
	margin-top: 10px;
	font-weight: 600;
    display: flex;
	justify-content: flex-end;
}

.cart-item {
	margin-bottom: 5px;
	display: flex;
	justify-content: flex-end;
}
